<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Carts</title></head>
<body>
<div id="header">
  <h2>Your Shopping Cart</h2>
</div>
<table class="datatablee" border="1">
  <tr><th>Quantity</th><th>Number</th><th>Name</th><th>Price</th><th>Total</th></tr>
  <tr th:each="cart : ${cartList}">
    <td th:text="${cart.quantity}">quantity</td>
    <td th:text="${cart.number}">number</td>
    <td th:text="${cart.name}">name</td>
    <td th:text="${cart.price}">price</td>
    <td th:text="${cart.total}">total</td>
    <td>
      <form action="removeproduct" method="post">
        <button type="submit" name="number" th:value="${cart.number}">Remove product</button>
      </form>
    </td>
  </tr>
</table>
<br/>
<form action="addproduct" method="post">
  <button type="submit">Add product</button>
</form>

</body>
</html>